<!DOCTYPE html>
<html lang="en">

<head>
	<title>Shoe Store</title>
</head>

<body>
	<h1>Shoe Store</h1>

	<a href="">Add</a>

	<table border="1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Type</th>
				<th>Size</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Vans Old Skool</td>
				<td>Casual</td>
				<td>36 - 46</td>
				<td>In Stock</td>
				<td><a href="">Edit</a> | <a href="">Delete</a></td>
			</tr>

			<tr>
				<td>2</td>
				<td>Andrew Cullen</td>
				<td>Formal</td>
				<td>39 - 44</td>
				<td>Discontinued</td>
				<td><a href="">Edit</a> | <a href="">Delete</a></td>
			</tr>

			<tr>
				<td>3</td>
				<td>Timberland Brooklyn</td>
				<td>Boots</td>
				<td>39 - 51</td>
				<td>Out of Stock</td>
				<td><a href="">Edit</a> | <a href="">Delete</a></td>
			</tr>

		</tbody>
	</table>
</body>

</html>